.home-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.home-body .map-view,
.home-body .list-view {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .home-body {
    flex-direction: row;
  }
  .home-body .map-view,
  .home-body .list-view {
    width: 50%;
  }
}
